a {
    text-decoration: none;
    display: block;
}

h1,  
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
}

li {
  list-style: none;
}

img {
    display: block;
    max-width: 100%;
}

body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

.container { 
    width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}

.section {
    padding: 120px 0;
}

.header {
    border-bottom: 1px solid #e7e9fc; 
}

.header-container {
    display: flex;
    align-items: center;
}

.header-nav {
    display: flex;
    align-items: center;
    /* padding: 24px 0; */
}

.header-menu-list {
    display: flex;
    gap: 40px;

}

.header-menu-item{
    padding: 24px 0;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2E2F42;
    /* text-decoration: none; */
}

.header-menu-item:focus,
.header-menu-item:hover {
  color: #404bbf;
  text-decoration: underline;
}

.header-contacts-list {
    display: flex;
    align-items: center;
    gap: 40px;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em; 
    text-transform: uppercase;
    text-decoration: none;
    color: #4D5AE5;
    margin-right: 76px;
}

.logo-accent {
    color: #2E2F42;
}

.address {
    font-style: normal;
    margin-left: auto;
}

.contact-item {
    text-decoration: none;
    color: #434455;
    line-height: 1.5;
    letter-spacing: 0.02em;  
}

.contact:hover,
.contact:focus {
    color: #404BBF;
}

.hero {
    background-color: #2E2F42;
    padding: 188px 0;
    display: flex;
    align-items: center;
}

.hero-title {
    max-width: 496px;
    margin: 0 auto;
    text-align: center;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}

.order-button { 
    display: block;
    margin: 0 auto;
    margin-top: 48px;
    min-width: 169px;
    height: 56px;
    border: none;
    padding: 16px 32px;
    border-radius: 4px;
    background-color: #4d5ae5;
    cursor: pointer;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
}

.order-button:hover,
.order-button:focus {
  background: #404bbf;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;

}

.section-third-title {
    font-size: 20px;
    font-weight: 500;
    line-height: 1,2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.section-second-title {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}

.feature-list {
    display: flex;
    gap: 24px;
}

.features-item {
    width:calc((100% - 24px * 3) / 4);
}

.section-text {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.cart-down {
    padding: 32px 0;
}

.team-container {
    background-color:  #F4F4FD;
}

.wrapper-list-team {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;

}

.block-team {
    background-color: #FFFFFF;
    width: calc((100% - 3 * 24px) / 4);
    display: flex;
    flex-direction: column;
    text-align: center;
    border-radius: 0px 0px 4px 4px;
}

.wrapper-list-portfolio {
    display: flex;
    gap: 48px 24px;
    flex-wrap: wrap;
}

.block-portfolio {
    width: calc((100% - 2 * 24px) / 3);
}

.portfolio-text-content {
    border: 1px solid #e7e9fc;
    border-top: none;
    padding: 32px 16px 32px 16px;
}

.footer {
    background-color: #2E2F42;
    padding: 100px 0;
}

.footer .logo {
    color: #4d5ae5;
    margin-bottom: 16px;
    margin-right: 0;
  }

.accent-whitelogo {
    color:#F4F4FD;
}

.footer-p {
    color:#F4F4FD;
    line-height: 1.5;
    letter-spacing: 0.02em;
    max-width: 264px;
}
