a {
    text-decoration: none;
    display: inline-block;
}

h1,  
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
}

li {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #FFFFFF;
}

.container { 
  width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

.section {
  padding: 120px 0;
}

.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow:  0px 2px 1px rgba(46, 47, 66, 0.08), 
    0px 1px 1px rgba(46, 47, 66, 0.16), 
    0px 1px 6px rgba(46, 47, 66, 0.08); 
}

.header-container {
  display: flex;
  align-items: center;
}

.header-nav {
  display: flex;
  align-items: center;
}

.header-menu-list {
  display: flex;
  gap: 40px;
}

.header-menu-item {
  padding: 24px 0;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2E2F42;
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-menu-item:focus,
.header-menu-item:hover,
.contact-item:focus,
.contact-item:hover {
  color: #404bbf;
}

.active-page {
  position: relative;
  color: #404bbf;
}

.active-page::after {
  position: absolute;
  bottom: -1px;
  width: 100%;
  border-bottom: 4px solid #404BBF;
  left: 0;
  content: "";
  border-radius: 2px;
  background-color: #404bbf;
}

.header-contacts-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em; 
  text-transform: uppercase;
  text-decoration: none;
  color: #4D5AE5;
  margin-right: 76px;
}

.logo-accent {
  color: #2E2F42;
}

.address {
  font-style: normal;
  margin-left: auto;
}

.contact-item {
  text-decoration: none;
  color: #434455;
  line-height: 1.5;
  letter-spacing: 0.02em; 
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.contact:hover,
.contact:focus {
  color: #404BBF;
}

.hero {
  background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.jpg);
  max-width: 1440px;
  padding: 188px 0;
  display: flex;
  align-items: center;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}

.hero-title {
  max-width: 496px;
  margin: 0 auto;
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: #FFFFFF;
}

.order-button { 
  display: block;
  margin: 0 auto;
  margin-top: 48px;
  min-width: 169px;
  height: 56px;
  border: none;
  padding: 16px 32px;
  border-radius: 4px;
  background-color: #4d5ae5;
  cursor: pointer;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-button:hover,
.order-button:focus {
  background: #404bbf;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;

}

.icon-features-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F4F4FD;
  border: 1px solid #8E8F99;
  border-radius: 4px;
  height: 112px;
  margin-bottom: 8px;
}

.section-third-title {
  font-size: 20px;
  font-weight: 500;
  line-height: 1,2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.section-second-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

.feature-list {
  display: flex;
  gap: 24px;
}

.features-item {
  width:calc((100% - 24px * 3) / 4);
}

.section-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  margin-bottom: 8px;
}

.cart-down {
  padding: 32px 0;
}

.icon-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.blue-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #4D5AE5;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  fill: #F4F4FD;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.blue-circle:hover,
.blue-circle:focus {
  background-color: #404bbf;
}

.team-container {
  background-color:  #F4F4FD;
}

.wrapper-list-team {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
}

.block-team {
  background-color: #FFFFFF;
  width: calc((100% - 3 * 24px) / 4);
  display: flex;
  flex-direction: column;
  text-align: center;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 
    0px 1px 1px 0px rgba(46, 47, 66, 0.16), 
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.wrapper-list-portfolio {
  display: flex;
  gap: 48px 24px;
  flex-wrap: wrap;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.block-portfolio {
  display: flex;
  flex-direction: column;
  width: calc((100% - 48px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.block-portfolio:hover,
.block-portfolio:focus {
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.portfolio-cart-top {
  position: relative;
  overflow: hidden;
}

.section-portfolio-overlay {
  background:#4d5ae5;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 40px 32px;
  color: var(--CLOUD, #f4f4fd);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
} 

.block-portfolio:hover .section-portfolio-overlay {
  transform: translateY(0);
}

.portfolio-text-content {
  border: 1px solid #e7e9fc;
  border-top: none;
  padding: 32px 16px 32px 16px;
}

.footer {
  background-color: #2E2F42;
  padding: 100px 0;
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.footer-left {
  margin-right: 120px;
}

.footer .logo {
  color: #4d5ae5;
  margin-bottom: 16px;
  margin-right: 0;
}

.accent-whitelogo {
  color:#F4F4FD;
}

.footer-p {
  color:#F4F4FD;
  line-height: 1.5;
  letter-spacing: 0.02em;
  max-width: 264px;
}

.footer-social-media {
  margin-right: 80px;
}

.footer-social-text {
  color: #ffffff;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}

.btn-subscribe {
  display: flex;
  background-color: #4D5AE5;
  color: #FFFFFF;
  min-width: 165px;
  height: 40px;
  border-radius: 4px;
  padding: 8px 24px;
  border: none;
  gap: 16px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-subscribe {
  fill: #ffffff;
}

.btn-subscribe:hover,
.btn-subscribe:focus {
  background-color: #404bbf;
}

.subscribe-label-box {
  margin-top: 16px;
  display: flex;
  gap: 16px;
}

.input-subscribe {
  min-width: 264px;
  height: 40px;
  padding: 8px 16px;
  border: 1px solid #ffffff;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border-radius: 4px;
  background-color:  transparent;
  color: #ffffff;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));

}

.input-subscribe::placeholder {
  color: #ffffff;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
}

.footer-social-media .icon-list {
  gap: 16px;
}

.footer-social-media .icon-list .blue-circle:hover,
.footer-social-media .icon-list .blue-circle:focus {
  background-color: #31d0aa;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  background-color:rgba(46, 47, 66, 0.4);
  pointer-events: none;
  z-index: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-window {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 408px;
  min-height: 584px;
  border-radius: 4px;
  background-color: #FCFCFC;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12),
    0px 2px 1px 0px rgba(0, 0, 0, 0.2);
  padding: 24px;
  transform: translateX(-50%) translateY(-50%);
  z-index: 9999;
  pointer-events:painted;
}

.btn-close {
  width: 24px;
  height: 24px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: #E7E9FC;
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-icon {
  fill: #2E2F42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-close:hover,
.btn-close:focus {
  border: none;
  background-color: #404bbf;
}

.btn-close:hover .close-icon,
.btn-close:focus .close-icon {
  fill: #ffffff;
}

.modal-text {
  color: #2E2F42;
  margin-bottom: 16px;
  margin-top: 48px;
  text-align: center;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.modal-input-container {
  margin-bottom: 8px;
}

.label-text {
  color: #8E8F99;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.04em;
  display: block;
  margin-bottom: 4px;
  line-height: 1.17;
}

.modal-icon-container {
   position: relative;
}

.input-box {
   border: 1px solid rgba(46, 47, 66, 0.4);
   background-color: transparent;
   outline: transparent;
   width: 100%;
   border-radius: 4px;
   height: 40px;
   padding-left: 38px;
   outline: transparent;
   transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  fill: #2E2F42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-box:focus {
  border-color: #4d5ae5;
}

.input-box:focus + .modal-icon {
  fill: #4d5ae5;
}

.modal-comment-container {
  margin-bottom: 16px;
}

.modal-textarea {
  width: 100%;
  min-height: 120px;
  padding: 8px 16px;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background: transparent;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}

 .modal-textarea::placeholder {
  color: var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.4));
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
}

.modal-textarea:focus {
   border-color: #4d5ae5;
}

.modal-check-text {
  color: #8e8f99;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
}

.modal-check-link {
  margin-left: 4px;
  color: #4d5ae5;
  text-decoration: underline;
  line-height: 1.33;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-check-link:hover,
.modal-check-link:focus {
  color: #404bbf;
}

.modal-check-box {
  display: inline-flex;
  margin-bottom: 24px;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  margin-right: 8px;
  border-radius: 2px;
  background-color: transparent;
  fill: transparent;
  border: 1px solid var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.4));
 transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border 250ms cubic-bezier(0.4, 0, 0.2, 1),
      fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-check:checked + .modal-check-text .modal-check-box {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.modal-btn-send {
  background-color: #4d5ae5;
  margin-top: 24px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  min-width: 169px;
  height: 56px;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  padding: 16px 32px;
  margin: 0 auto;
  display: block;
  color: #ffffff;
  text-align: center;
  border: none;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn-send:hover,
.modal-btn-send:focus {
    background-color: #404bbf;
}

.modal-overlay.is-open {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
}

